@model ProdottoViewModel

<form method="post">
    <p>Sei sicuro di voler eliminare questo prodotto ?</p>

    <div class="form-group">
        <label asp-for="Codice"></label>
        <input asp-for="Codice" class="form-control" readonly />
        <span asp-validation-for="Codice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descrizione" class="form-label"></label>
        <input asp-for="Descrizione" class="form-control" readonly />
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>

    <input type="submit" value="Conferma" class="btn btn-danger" />
    <a class="btn btn-primary" asp-action="Index" role="button">Back</a>
</form>

